

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


header {
    background:purple;
    color: white;
    padding: 10px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo {
    font-size: 24px;
    font-weight: bold;

}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;

}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar li a.active,
.navbar li a:hover {
    background: white;
    color: black;
    border-radius: 5px;
}
   .menu-icon{
    display: none;
    font-size: 24px;
    color: white;
   }

#menue-toggle {
    display: none;
}

#menue-toggle:checked + .menu-icon + .navbar {
    display: block;
    flex-direction: column;
    background: blue;
    
}
    @media (max-width: 768px) {
        .menu-icon {
            display: block;
        }

        .navbar {
            display: none;
            width:100%;
        }

        .navbar li{
         text-align:center;
        }

    }





section .section-content h1{
    color:black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

section .section-content h2{

    color:red;
    font-size: 50px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

section .section-content h3{

    color:black;
    font-size: 25spx; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}


section img{
    height: 800px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

section{
    background-color:wheat;

}

footer{
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-col h4{
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
    pad: 0;
}

.footer-col{
    margin: 5px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: grey;

}

.footer-col ul li :hover{
    color: white;
}
.footer-col form {
    margin-top: 10px;
}